
article {
  header {
    h1 {
      font-weight: bold;
      color: black;
    }
  }

  h1 {
    font-size: $h1-font-size;

    &:not(:first-child) {
      margin-top: 0.5em;
    }
  }
  h2 {
    font-size: $h2-font-size;
  }
  h3 {
    font-size: $h3-font-size;
  }
  h4 {
    font-size: $h4-font-size;
  }
  h5 {
    font-size: $h5-font-size;
  }
  h6 {
    font-size: $h6-font-size;
  }

  p,ul {
    margin: 0 0 1em;
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
  }

}
