
@import "slick.js/slick.scss";
@import "slick.js/slick-theme.scss";

// need to fix fonts and background images
.slick-loading .slick-list {
  background: #fff image-url("slick.js/slick/ajax-loader.gif") center center no-repeat;
}
@include font-face("slick", "/fonts/slick.js/slick/fonts/slick",
                   $file-formats: eot woff truetype);

.slick-dots {
  bottom: -1.5em;
}

.banner {
  $banner-height: em(250);
  position: relative;
  //height: $banner-height;

  .carousel {
    img {
      height: $banner-height;
    }
    @include media($phone-screen) {
      display: none;
    }
  }

  .caption {
    @include media($medium-screen-up) {
      position: absolute;
      bottom: 0px;
      left: 0px;
      opacity: 0.9;
      filter:alpha(opacity=90); /* IE opacity */
    }
    background-color: black;
    color: white;
    padding-left: em(10);
    padding-right: em(10);
    box-shadow: 2px 4px 2px black;
    border-radius: 0px 3px 3px 0px;

    h1 {
      font-size: 1.8em;
    }
    h2 {
      font-size: 1.1em;
    }

    a {
      color: white;
    }
  }

  // Fancy hovering, link clicking banner
  &:hover {
    .caption {
      display: none;
      @include transition(all 0.2s ease-in-out);
    }
  }
  
}

.slick-slide {
  margin-left: $small-spacing;
  margin-right: $small-spacing;
  position: relative;
  border-radius: 3px;
  border: 1px solid $base-background-color;

  .description {
    position: absolute;
    left: 0px;
    bottom: 0px;
    color: $base-font-color;
    background-color: lighten(gainsboro, 10%);
    opacity: 0.9;
    filter:alpha(opacity=90); /* IE opacity */
    width: 100%;
    padding: 5px;
    display: none; // hide by default

    h1 {
      font-weight: bold;
      font-size: 1.2em;
    }

    h2 {
      font-size: 0.8em;
    }
  }

  &:hover {
    border-color: gainsboro;
    box-shadow: 0 2px 4px darken($base-background-color, 10%);
    .description {
      display: block;
    }
    @include transition(all 0.2s ease-in-out);

    //h1, h2 {
      //display: block;
    //}
  }
}

