
article.news {

  h1 {
    font-size: $h1-font-size;
  }

  h2 {
    //font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: 900;
    color: black;
    margin-bottom: 0;
  }

  p {
    margin-bottom: $base-spacing;
  }
}

