
<div class="carousel">
  <% data.banner.each do |img| %>
    <div>
      <% link_to img.url do %>
        <%= image_tag "/images/banner/#{img.path}" %>
        <div class="description">
          <h1><%= img.name %><h1>
          <h2><%= img.citation %></h2>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

