
<ul class="important-dates">
  <li>July 1, 2015: Submissions open</li>
  <li>August 3, 2015: Submissions due</li>
  <li>August 31, 2015: Decisions sent out</li>
  <!--
  <li>
    <strong>???: Uncertainty workshop (1-day)</strong>
  </li>
  -->
</ul>

