
<ul class="important-dates">
  <li><time datetime="2015-07-01 23:59-5:00">July 1, 2015</time>: Submissions open</li>
  <li><time datetime="2015-08-31 23:59-5:00">August 31, 2015</time>: Submissions due</li>
  <li><time datetime="2015-09-07 23:59-5:00">September 7, 2015</time>: Decisions sent out</li>
  <li>
    <strong>October 26, 2015: Uncertainty workshop (1-day)</strong>
  </li>
</ul>

