
<ul class="important-dates">
  <li><time datetime="2015-07-01T23:59:00-0500">July 1, 2015</time>: Submissions open</li>
  <li><time datetime="2015-08-31T23:59:00-0500">August 31, 2015</time>: Submissions due</li>
  <li><time datetime="2015-09-07T23:59:00-0500">September 7, 2015</time>: Decisions sent out</li>
  <li>
    <strong>October 26, 2015: Uncertainty workshop (1-day)</strong>
  </li>
</ul>

