
<% links = [
  ['Home', 'index.html'],
  ['About', 'about.html'],
  #['Schedule', 'schedule.html'],
  ['Committee', 'committee.html'],
  #['Call for papers', 'cfp.html'],
] 
 %>

<div class="navigation" role="banner">
  <div class="navigation-wrapper">
    <!--
    <a href="javascript:void(0)" class="logo">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo Image">
    </a>
    -->
    <!--
    <%= link_to 'Visualization for decision making under uncertainty', 'index.html', :class => 'logo' %>
    -->
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <% links.each do |name,url| %>
          <li class="nav-link">
            <%= link_to name, url, :class => ("active-nav-item" if url==current_page.path) %>
          </li>
        <% end %>
      </ul>
    </nav>
    <!--
    <div class="navigation-tools">
      <div class="search-bar">
        <form role="search">
          <input type="search" placeholder="Enter Search" />
          <button type="submit">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
          </button>
        </form>
      </div>
    </div>
    -->
  </div>
</header>

