

<table class="schedule">
  <thead>
    <tr>
      <th width="179px">Time</th>
      <!--<th>Session</th>-->
      <th width="99%">Title</th>
      <th width="179px">Speaker</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><time datetime="2015-10-26T08:30:00-0500">8:30am</time> - <time datetime="2015-10-26T08:45:00-0500">8:45am</time></td>
      <td>Opening</td>
      <td>Ruediger Westermann</td>
    </tr>
    <tr>
      <td><time datetime="2015-10-26T08:45:00-0500">8:45am</time> - <time datetime="2015-10-26T09:30:00-0500">9:30am</time></td>
      <td><strong>Invited Speaker</strong><br/> Visualizing an uncertain world</td>
      <td>Chris Johnson</td>
    </tr>
    <tr>
      <td><time datetime="2015-10-26T09:30:00-0500">9:30am</time> - <time datetime="2015-10-26T10:15:00-0500">10:15am</time></td>
      <td><strong>Invited Speaker</strong><br/> Uncertainty in weather prediction: Where does it come from and what does it look like?</td>
      <td>George Craig</td>
    </tr>
    <tr>
      <td><time datetime="2015-10-26T10:15:00-0500">10:15am</time> - <time datetime="2015-10-26T10:30:00-0500">10:30am</time></td>
      <td>break</td>
      <td>---</td>
    </tr>
    <tr>
      <td><time datetime="2015-10-26T10:30:00-0500">10:30am</time> - <time datetime="2015-10-26T10:50:00-0500">10:50am</time></td>
      <td>Exploring the Potential of Data Depth for
      Uncertainty Characterization and Visualization of Ensembles</td>
      <td>Mahsa Mirzargar</td>
    </tr>
    <tr>
      <td><time datetime="2015-10-26T10:50:00-0500">10:50am</time> - <time datetime="2015-10-26T11:10:00-0500">11:10am</time></td>
      <td>Ensemble Data Analysis using Composite
      Visualizations</td>
      <td>Johannes Kehrer</td>
    </tr>
    <tr>
      <td><time datetime="2015-10-26T11:10:00-0500">11:10am</time> - <time datetime="2015-10-26T11:30:00-0500">11:30am</time></td>
      <td>Exploring the Limits of Weather Predictability
      via Uncertainty Visualization</td>
      <td>Marc Rautenhaus</td>
    </tr>
    <tr>
      <td><time datetime="2015-10-26T11:30:00-0500">11:30am</time> - <time datetime="2015-10-26T11:50:00-0500">11:50am</time></td>
      <td>Visualizing Uncertainty About Imminent Meteorological Threats</td>
      <td>Michael K. Lindell</td>
    </tr>
    <tr>
      <td><time datetime="2015-10-26T11:50:00-0500">11:50am</time> - <time datetime="2015-10-26T12:10:00-0500">12:10pm</time></td>
      <td>Re-envisioning Hurricane Predictions using
      Ensemble Displays</td>
      <td>Donald H. House</td>
    </tr>
    <tr>
      <td><time datetime="2015-10-26T12:10:00-0500">12:10pm</time> - <time datetime="2015-10-26T12:30:00-0500">12:30pm</time></td>
      <td>Employing Model Reduction for Uncertainty
      Visualization in the Context of CO2 Storage Simulation</td>
      <td>Marcel Hlawatsch</td>
    </tr>
    <tr>
      <td><time datetime="2015-10-26T12:30:00-0500">12:30pm</time> - <time datetime="2015-10-26T14:00:00-0500">2:00pm</time></td>
      <td>lunch</td>
      <td>---</td>
    </tr>
    <tr>
      <td><time datetime="2015-10-26T14:00:00-0500">2:00pm</time> - <time datetime="2015-10-26T14:20:00-0500">2:20pm</time></td>
      <td>Implicit Uncertainty Visualization: Aligning
      Perception and Statistics</td>
      <td>Michael Correll</td>
    </tr>
    <tr>
      <td><time datetime="2015-10-26T14:20:00-0500">2:20pm</time> - <time datetime="2015-10-26T14:40:00-0500">2:40pm</time></td>
      <td>Decision Making Under Uncertainty in Visualisation?</td>
      <td>Geoffrey Ellis</td>
    </tr>
    <tr>
      <td><time datetime="2015-10-26T14:40:00-0500">2:40pm</time> - <time datetime="2015-10-26T15:00:00-0500">3:00pm</time></td>
      <td>VAPD - A Visionary System for Uncertainty
      Aware Decision Making in Crime Analysis</td>
      <td>Florian Stoffel</td>
    </tr>
    <tr>
      <td><time datetime="2015-10-26T15:00:00-0500">3:00pm</time> - <time datetime="2015-10-26T15:20:00-0500">3:20pm</time></td>
      <td>Decision making in uncertainty visualization</td>
      <td>Thomas Torsney-Weir</td>
    </tr>
    <tr>
      <td><time datetime="2015-10-26T15:20:00-0500">3:20pm</time> - <time datetime="2015-10-26T15:40:00-0500">3:40pm</time></td>
      <td>Towards Ecological Validity in Evaluating Uncertainty</td>
      <td>P. Samuel Quinan</td>
    </tr>
    <tr>
      <td><time datetime="2015-10-26T15:40:00-0500">3:40pm</time> - <time datetime="2015-10-26T16:15:00-0500">4:15pm</time></td>
      <td>break</td>
      <td>---</td>
    </tr>
    <tr>
      <td><time datetime="2015-10-26T16:15:00-0500">4:15pm</time> - <time datetime="2015-10-26T17:15:00-0500">5:15pm</time></td>
      <td>Paper Showcase</td>
      <td>12 papers x 5mins each</td>
    </tr>
    <tr>
      <td><time datetime="2015-10-26T17:15:00-0500">5:15pm</time> - <time datetime="2015-10-26T18:00:00-0500">6:00pm</time></td>
      <td><strong>Panel</strong><br/>What are the Grand Challenge problems in the
      communication of uncertainty within the scientific community and to the
      public at large? To what extent can methods for communicating uncertainty be
      generalized beyond specific application domains?</td>
    <td><strong>Panelists</strong><br/>
      Mike Kirby	<br/>
      Torsten Möller	<br/>
      Rüdiger Westermann	<br/>
      Ross Whitaker	<br/>
      Stefan Bruckner
    </td>
    </tr>
  </tbody>
</table>


