

<table>
  <thead>
    <tr>
      <th>Time</th>
      <!--<th>Session</th>-->
      <th>Title</th>
      <th>Speaker</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>8:30am - 8:45am</td>
      <td>Opening</td>
      <!--<td></td>-->
      <td>Ruediger Westermann</td>
    </tr>
    <tr>
      <td>8:45am - 9:30am</td>
      <!--<td>Invited Speaker</td>-->
      <td>TBA</td>
      <td>Chris Johnson</td>
    </tr>
    <tr>
      <td>9:30am - 10:15am</td>
      <!--<td>Invited Speaker</td>-->
      <td>TBA</td>
      <td>George Craig</td>
    </tr>
    <tr>
      <td>10:15am - 10:30am</td>
      <td>break</td>
      <!--<td>---</td>-->
      <td>---</td>
    </tr>
    <tr>
      <td>10:30am - 10:50am</td>
      <!--<td></td>-->
      <td>Exploring the Potential of Data Depth for
      Uncertainty Characterization and Visualization of Ensembles</td>
      <td>Mahsa Mirzargar</td>
    </tr>
    <tr>
      <td>10:50am -
      11:10am</td>
      <!--<td></td>-->
      <td>Ensemble Data Analysis using Composite
      Visualizations</td>
      <td>Johannes Kehrer</td>
    </tr>
    <tr>
      <td>11:10am -
      11:30am</td>
      <!--<td></td>-->
      <td>Exploring the Limits of Weather Predictability
      via Uncertainty Visualization</td>
      <td>Marc Rautenhaus</td>
    </tr>
    <tr>
      <td>11:30am - 11:50am</td>
      <!--<td></td>-->
      <td>Visualizing Uncertainty About Imminent Meteorological Threats</td>
      <td>Michael K. Lindell</td>
    </tr>
    <tr>
      <td>11:50am - 12:10pm</td>
      <!--<td></td>-->
      <td>Re-envisioning Hurricane Predictions using
      Ensemble Displays</td>
      <td>Donald H. House</td>
    </tr>
    <tr>
      <td>12:10am -
      12:30pm</td>
      <!--<td></td>-->
      <td>Employing Model Reduction for Uncertainty
      Visualization in the Context of CO2 Storage Simulation</td>
      <td>Marcel Hlawatsch</td>
    </tr>
    <tr>
      <td>12:30pm - 2:00pm</td>
      <td>lunch</td>
      <!--<td>---</td>-->
      <td>---</td>
    </tr>
    <tr>
      <td>2:00pm -
      2:20pm</td>
      <!--<td></td>-->
      <td>Implicit Uncertainty Visualization: Aligning
      Perception and Statistics</td>
      <td>Michael Correll</td>
    </tr>
    <tr>
      <td>2:20pm - 2:40pm</td>
      <!--<td></td>-->
      <td>Decision Making Under Uncertainty in Visualisation?</td>
      <td>Geoffrey Ellis</td>
    </tr>
    <tr>
      <td>2:40pm - 3:00pm</td>
      <!--<td></td>-->
      <td>VAPD - A Visionary System for Uncertainty
      Aware Decision Making in Crime Analysis</td>
      <td>Florian Stoffel</td>
    </tr>
    <tr>
      <td>3:00pm -
      3:20pm</td>
      <!--<td></td>-->
      <td>Decision making in uncertainty visualization</td>
      <td>Thomas Torsney-Weir</td>
    </tr>
    <tr>
      <td>3:20pm -
      3:40pm</td>
      <!--<td></td>-->
      <td>Towards Ecological Validity in Evaluating Uncertainty</td>
      <td>P. Samuel Quinan</td>
    </tr>
    <tr>
      <td>3:40pm - 4:15pm</td>
      <td>break</td>
      <!--<td>---</td>-->
      <td>---</td>
    </tr>
    <tr>
      <td>4:15pm - 5:15pm</td>
      <td>Paper Showcase</td>
      <td>12 papers x 5mins each</td>
      <!--<td></td>-->
    </tr>
    <tr>
      <td>5:15pm - 6:00pm</td>
      <td>Panel</td>
      <td>What are the Grand Challenge problems in the
      communication of uncertainty within the scientific community and to the
      public at large? To what extent can methods for communicating uncertainty be
      generalized beyond specific application domains?</td>
      <td>Panelists</td>
      <!--<td></td>-->
    </tr>
  </tbody>
</table>


